.simple_format{
  white-space: pre-line;
}
.policy-box{
  line-height: 25px;
}
.edit-btn-wrap{
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.text-white{
  color: #fff !important;
}
.edit-mode-input{
  border: #404040 1px dashed;
  margin: -1px -1px 19px -1px !important;
}